{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div>
                <img class="question-avatar" src="{% static "img/hero.gif" %}" alt="">
            </div>

            <div>
                <a href="#" title="Love it" class="love-btn" data-count="0">
                    <span>&#x2764;  0</span>
                </a>
            </div>
        </div>
        <div class="col-8" style="margin-left: 20px;">
            <h3>{{ answer.title }}</h3>
            <p>{{ answer.text }} </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Correct
                </label>
            </div>
        </div>
    </div>
</div>