{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">

    <title>AskMe! Forum</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/my.css" %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        min-width:

        768
        px {

        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }

        }
    </style>
</head>

<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
                <img class="navbar-logo" src="{% static "/img/logo.png" %}" alt="">
            <a class="navbar-brand" href="#">AskMe!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item" style="margin-right: 20px;">
                        <a class="nav-link active" aria-current="page" href={% url "index" %}>Home</a>
                    </li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                    <a class="btn  btn-outline-success" style="margin-left: 30px;" href={% url "ask" %}>ASK!</a>
                </ul>

                <div class="d-flex ms-auto">
                    <a href=""><img class="navbar-avatar" src="{% static "/img/sunny.gif" %}" alt=""></a>
                    <div class="authorise-section">
                        <p class="mb-0" style="color:white">Sunny_1984</p>
                        <div>
                            <a style="color:white; margin-right: 5px;" href={% url "settings" %}>settings </a>
                            <a style="color:white" href={% url "login" %}>log out</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">

        {% block content_min %}{% endblock content_min %}

    </div>
</main>

</body>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Contact:</span>
        <img class="vk-icon" src="{% static "/img/vk_icon.png" %}" alt="">
        <a href="https://vk.com/rissenberg"> Author </a>
    </div>
</footer>

</html>