{% extends "inc/base_min.html" %}

{% block content_min %}
        <div class="row">
            <div class="col-9">

                {% block content %}{% endblock content %}

            </div>
                <div class="col-3" style="padding-left: 30px">
                    <!— tags —>
                    <div class="tags-area mt-5">
                        <h2 class="mt-5">Tags</h2>
                        <div class="tags-list">
                            <a href={% url "tag" %}>tag1</a>
                            <a href={% url "tag" %}>tag2</a>
                            <a href={% url "tag" %}>tag3</a>
                        </div>
                    </div>

                    <div class="best-members-area mt-5">
                        <h2 class="mt-5">Best Members</h2>
                        <div class="best-members-list">
                            <a href="#">Vasya Pupkin</a>
                            <a href="#">Владимир Вольфович Жириновский</a>
                            <a href="#">‏غالية ‏ولي‏واصل‎</a>
                            <a href="#">Herr Muller</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock content_min %}