{% extends "inc/base_min.html" %}

{% block content_min %}
        <div class="row">
            <div class="col-9">

                {% block content %}{% endblock content %}

            </div>
                <div class="col-3" style="padding-left: 30px">
                    <h2 class="mt-5"> Tags </h2>
                    <div class="tagcontainer">
                        {% for tag in tags %}
                           <div class="tag">
                               <h5><a href ="{% url "tag" tag.title %}"> {{ tag.title }}</a> </h5>
                           </div>
                        {% endfor %}
                    </div>
                    <div style="margin-top: 200px">
                        <h2 class="members"> Best Members </h2>
                        <ul class="members_list">
                        {% for user in users %}
                            <li><a class="members_list_item" href="#"> {{user.user.username}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
{% endblock content_min %}