{% extends "inc/base_min.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content_min %}
    <div class="card sign-in" style="margin-left: 100px; margin-right: 100px; margin-top: 50px">
        <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Log in</h4>
            <form action="/login/" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login</button>
                </div>
                <div>
                    <div class="mt-5">Don't have an account?</div>
                    <div><a href="{% url "register" %}">Register</a></div>
                </div>
            </form>
        </article>
    </div>


{% endblock content_min %}