{% extends "inc/base_min.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content_min %}
    <div style="margin-left: 100px; margin-right: 100px; margin-top: 50px">
        <form action="{% url "profile_settings" %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p class="h1">Edit your profile:</p>
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

{% endblock content_min %}