{% extends "inc/base_min.html" %}

{% block content_min %}

    <div class="row">
        <h2 style="display: inline-block; margin: 15px" class="mt-5 index-header">Registration</h2>
        <div style="color: red; margin-left: 15px">Sorry, this Email is already signed</div>
        <div style="color: red; margin-left: 15px">Sorry, your password is too short</div>
        <div style="color: red; margin-left: 15px">Sorry, passwords do not match</div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-1" style="align-self: center; margin-left: 10px">
            Login
        </div>
        <div class="col-6">
                <textarea placeholder="dr_pepper" class="form-control" id="signinLoginArea" rows="1"></textarea>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-1" style="align-self: center; margin-left: 10px">
            Email
        </div>
        <div class="col-6">
                <textarea placeholder="dr_pepper@mail.com" class="form-control" id="signinEmailArea" rows="1"></textarea>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-1" style="align-self: center; margin-left: 10px">
            Nickname
        </div>
        <div class="col-6">
                <textarea placeholder="Dr Pepper" class="form-control" id="signinNicknameArea" rows="1"></textarea>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-1" style="align-self: center; margin-left: 10px">
            Password
        </div>
        <div class="col-6">
                <input type="password" placeholder="password" class="form-control" id="signinPasswordArea" minlength="8" required>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-1" style="align-self: center; margin-left: 10px">
            Repeat password
        </div>
        <div class="col-6">
                <input type="password" placeholder="password" class="form-control" id="loginRepeatPasswordArea" minlength="8" required>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-1" style="align-self: center; margin-left: 10px">
            Avatar
        </div>
        <div class="col-6">
                <input type="file" class="form-control" id="signinAvatarArea" />
        </div>

    </div>

    <div class="row" style="margin-top: 30px; margin-left: 90px">
        <button type="submit" class="btn  btn-outline-success" style="margin-left: 30px; width: 150px" href={% url "index" %}>Register</a>
    </div>



{% endblock content_min %}